In [1]:
import pandas as pd
from sodapy import Socrata

In [11]:
client = Socrata('data.ny.gov',
                  'LZ8n22WcfBkEDojOKGKIG9tsm',
                  username="rmckee@syr.edu",
                  password="Syr@1923")

results = client.get("9a8c-vfzj", county='Onondaga')

results_df = pd.DataFrame.from_records(results)

results_df

,county,license_number,operation_type,estab_type,entity_name,dba_name,street_number,street_name,address_line_2,address_line_3,city,state,zip_code,square_footage,location
0,Onondaga,730036,Store,JAC,NORTH SALINA MEATS & GROCERY INC,NORTH SALINA MEATS & GR,854,SALIAN ST,,,SYRACUSE,NY,13208,0,"{'human_address': '{""address"": ""854 SALIAN ST""..."
1,Onondaga,714349,Store,JAC,STEWARTS SHOPS CORP,STEWARTS SHOP 391,7667,MORGAN RD,,,LIVERPOOL,NY,13090,3000,"{'latitude': '43.141736', 'longitude': '-76.20..."
2,Onondaga,702395,Store,JAC,NATUR-TYME INC,NATUR-TYME,3160,ERIE BLVD EAST,,,SYRACUSE,NY,13214,7000,"{'latitude': '43.053956', 'longitude': '-76.07..."
3,Onondaga,715202,Store,JAC,SKYLINE 1 EXPRESS INC,SKYLINE 1 EXPRESS,753,JAMES ST,,,SYRACUSE,NY,13203,0,"{'latitude': '43.055871', 'longitude': '-76.14..."
4,Onondaga,733452,Store,JAC,ALGAMAL MOHAMMED A,ALL IN ONE PIZZA,302,MALDEN AVENUE,,,SYRACUSE,NY,13211,2500,"{'latitude': '43.104667', 'longitude': '-76.13..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
640,Onondaga,310507,Store,JAC,SYRACUSE UNIVERSITY,FW II ERNIE DAVIS HALL,619,COMSTOCK AVE,,,SYRACUSE,NY,13244,800,"{'latitude': '43.039624', 'longitude': '-76.13..."
641,Onondaga,311015,Store,A,ALDI INC,ALDI #47,6633,MANLIUS CENTER RD,,,EAST SYRACUSE,NY,13057,5000,"{'latitude': '43.063388', 'longitude': '-76.05..."
642,Onondaga,310407,Store,JABC,PRICE CHOPPER OPERATING CO INC,PRICE CHOPPER 172,2515,ERIE BLVD E,,,SYRACUSE,NY,13224,100000,"{'latitude': '43.054021', 'longitude': '-76.10..."
643,Onondaga,310654,Store,JABC,PRICE CHOPPER OPERATING CO INC,PRICE CHOPPER 199,5701,E CIRCLE DR,,,CICERO,NY,13039,68000,"{'latitude': '43.148251', 'longitude': '-76.12..."
644,Onondaga,310682,Store,JAC,BRIGHTON GROCERY INC,BRIGHTON GROCERY,833,E BRIGHTON AVE,,,SYRACUSE,NY,13205,1500,"{'latitude': '43.004677', 'longitude': '-76.13..."